<p><%= link_to "Deletar usuário", user_path, :method => :delete %></p>
<p><%= link_to "Editar usuário", edit_user_path %></p>

<p><%= @user.id %></p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>